---
import Image from '@/components/image.astro';
import Layout from '@/components/layout.astro';
import { getCollection } from 'astro:content';

const portfolio = await getCollection('portfolio');
const mappedPortfolio = portfolio
  .map((item) => ({
    ...item.data,
    path: `/portfolio/${item.id}`,
    alt: `${item.data.title} portfolio`,
  }))
  .sort((a, b) => a.order - b.order);
---

<Layout title="Portfolio" description="My art portfolio">
  <div class="row">
    {
      mappedPortfolio.map((item) => (
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <a href={item.path} class="d-block portfolio-card">
            <figure class="mb-0">
              <Image
                src={item.thumbnail}
                alt={item.alt}
                width={306}
                height={306}
                quality={70}
              />
              <figcaption class="text-center fs-5 mt-2">
                {item.title}
              </figcaption>
            </figure>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
