---
import Header from '@components/header.astro';
import Footer from '@components/footer.astro';
import '@/styles/styles.scss';
import { ClientRouter, fade } from 'astro:transitions';
import Breadcrumb from './breadcrumb.astro';
import { metadata } from '@/metadata';


export interface Props {
  title: string;
  breadcrumbs?: string[];
}

const siteTitle = `${Astro.props.title} | ${metadata.title}`
const siteDescription = `Bryce Mehring's personal website.`;
const pageFade = fade({ duration: '150ms' });
const { breadcrumbs, title } = Astro.props;
---

<html lang="en" transition:animate={pageFade}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:type" content="website" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ClientRouter />
  </head>
  <body>
    <main class="container lisbeth-hamlin">
      <Header />
      <Breadcrumb ids={breadcrumbs} />
      <h1>{title}</h1>
      <slot />
      <Footer />
    </main>
  </body>
</html>
